go 1.21.0

use (
	./01-kafka/01-basic-example
	./01-kafka/02-basic-example-2-partitions
	./01-kafka/03-queue-2-consumer-2-partitions
	./01-kafka/04-queue-3-consumer-2-partitions
	./01-kafka/05-pubsub-3-consumer-1-partitions
	./01-kafka/06-replication
	./02-elasticsearch/feed
)
